/*
  gris: #f9f9f9
  bordo: #603944
  borde-bordo: #8a757a
  verde: #a4bd28
  mostaza: #b4943c
  campo: #6ba53a
  azul: #5797b5
  marron: #282325
*/

body { background-color: #fff; }

.navbar { border: none; margin-bottom: 0px; }
.navbar-menu { background-color: #f9f9f9; border-bottom: 1px solid #ddd; }
.navbar-brand {
  height: auto; padding: 5px 15px;
  img { height: 65px; }
}
ul.navbar-nav > li {
  border-right: 1px solid #ddd;
  &:last-child { border-right: none; }
  & > a { padding-top: 0px; padding-bottom: 0px; margin: 0px; line-height: 75px; box-sizing: border-box; color: #603944; text-transform: uppercase; }
  &.active > a { background-color: #603944; color: #f9f9f9; }
}

div.servicio {
  img { margin-bottom: 15px; }
  p.description { height: 140px; }
  a.btn { text-transform: uppercase; font-weight: bold; border: none; border-radius: 0px; padding: 2px 50px 0px; line-height: 40px; }
  a.btn-primary { background-color: #5797b5; }
  a.btn-warning { background-color: #b4943c; }
  a.btn-success { background-color: #6ba53a; }
}

h3.subtitle { text-transform: uppercase; color: #a4bd28; font-weight: bold; font-size: 26px; margin: 40px 0px; }
.fancy {
  line-height: 0.5; text-align: center;
  span {
    display: inline-block; position: relative;
    &:before,
    &:after { content: ""; position: absolute; height: 7px; border-bottom: 3px solid #a4bd28; top: 0; width: 90%; }
    &:before { right: 100%; margin-right: 40px; }
    &:after { left: 100%; margin-left: 40px; }
  }
}

.row.vertical-divider { overflow: hidden; }
.row.vertical-divider > div[class^="col-"] { border-left: 1px solid #f8f8f8; border-right: 1px solid #ddd; }
.row.vertical-divider div[class^="col-"]:first-child { border-left: none; }
.row.vertical-divider div[class^="col-"]:last-child { border-right: none; }

footer.footer {
  margin-top: 20px; height: 350px; background-color: #282325; position: relative; padding: 30px 30px 0px 30px;
  p.copyright { background-color: #161314; color: #fff; font-weight: bold; text-align: center; position: absolute; bottom: 0px; left: 0px; width: 100%; margin: 0px; padding: 15px 0px 0px 0px; line-height: 40px; }
  a.footer-link { color: #fff; font-size: 20px; font-weight: bold; text-align: center; text-transform: uppercase; display: block; padding: 0px; line-height: 80px; }
  p.middle { line-height: 120px; color: #fff; font-weight: bold; }
  img.logo-footer { height: 120px; margin: auto; display: block; }
}
